<!DOCTYPE>
<html ng-app="Syntec">
<head>
	<meta charset="utf-8">
	<!-- import AngularJS -->
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.js"></script>

	<!-- use man-made layout javascript -->
	<script type="text/javascript" src="js/layout.js"></script>
	
	<!-- use man-made layout css -->
	<link rel="stylesheet" type="text/css" href="css/layout.css">
	<title>SyntecNewWeb</title>
</head>
<body>
	<div class="layout" ng-controller="SyntecLayout">
		<div class="header">
			<div class="limit">
				<div class="logo"></div>
				<div class="menu">
					<ul class="listOfMenu">
						<a ng-repeat="m in menu" ng-if="m.name != 'IMAGE'" href="javascript:;" ng-focus="showMyDetail(m)" ng-blur='closeMyDetail(m)'>
							<li id="{{m.id}}">{{m.name}}</li>
						</a>
						<a ng-repeat="m in menu" ng-if="m.name == 'IMAGE'" href="javascript:;" ng-focus="showMyDetail(m)" ng-blur='closeMyDetail(m)'>
							<li id="{{m.id}}" style="border-right: 1px solid #ffffff;"><img src="{{m.url}}" width="20px"></li>
						</a>
					</ul>
					<div class="butBar" ng-style="myBarSlide"></div>
				</div>
				<div class="searchBar" ng-style="searchBarStyle">
					<input id="titleSearchBar" placeholder="search" ng-focus="searchBarStyle={'border-color':'#00a2e8'}" ng-blur="searchBarStyle={'border-color':'#ffffff'}">
					<a href="javascript:;"><span id="searchIcon"></span></a>
				</div>
				<div class="listOfDetailMenu" id="productList" ng-show="isShowProductList" ng-click="holdeProduct()">
					<div style="width:1024px;margin:auto;height:100%;">
						<div class="allMenu" ng-repeat="pMenu in productMenuTitles" id="{{pMenu.id}}">
							<ul class="totalMenu">
								<li><h3>{{pMenu.title}}</h3></li>
								<a href="javascript:;" ng-repeat="subpMenu in productMenuSubNames" ng-if="subpMenu.pare_id == pMenu.id">
									<li>{{subpMenu.name}}</li>
								</a>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<!-- load this page specific css and javascript -->
			<link rel="stylesheet" type="text/css" href="css/index.css">
			<script type="text/javascript" src="js/AN_index.js"></script>
			<div ng-controller="SyntecIndex">
				<div class="Banner">
					<span class="bannerSlogon">{{Banner_slogon}}</span>
				</div>
				<div class="SyntecTop">
					<h1 class="title">{{SyntecTop_title}}</h1>
					<p class="hint">{{SyntecTop_hint}}</p>
					<div class="topProdoct">
						<ul class="productsUl">
							<a ng-repeat="hprdus in hotProducts" href="javascript:;">
								<li style="background-image:url({{hprdus.pictureURL}});">
									<div class="topDetail">
										<span class="topTitle">{{hprdus.title}}</span>
										<span class="topdescrp">{{hprdus.description}}<span>
									</div>
								</li>
							</a>
						</ul>
					</div>
					<div class="topOther">
						<ul class="otherUl">
							<li ng-repeat="other in topOthers">
								<p class="otherTitle">{{other.parent}}</p>
								<img src="{{other.pictureURL}}" width="300px">
								<p class="otherName" ng-show="other.name != ''">{{other.name}}</p>
								<p class="otherdescrp" ng-bind-html="other.description"></p>
								<a href="javascript:;" class="otherMore">瞭解更多</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="botBanner" ng-repeat="bBan in botBanners" style="background-image: url({{bBan.pictureURL}});">
					<h1 class="botTitle">{{bBan.title}}</h1>
					<div class="bbannerDetail">
						<h3>{{bBan.detail}}</h3>
						<a href="javascript:;">點此，看更多〉</a>
					</div>
				</div>

				<div id="contantBanner" style="background-image: url(images/index/contact.png);margin-bottom:0;padding-bottom:0;background-size: 100% auto;background-repeat:no-repeat" ng-init="initcBanHei()"></div>
			</div>
		</div>
		<div class="footer">
			<div class="fContent">
				<span style="float:left;">台灣新代科技股份有限公司 / 苏州新代數控设备有限公司</span>
				<span>Copyright &copy; 1995-2014 SYNTEC TECHNOLOGY CO.LTD</span>
				<ul class="footerUl">
					<a href="javascript:;"><li>隱私政策</li></a>
					<a href="javascript:;"><li>使用條款</li></a>
					<a href="javascript:;"><li>聯絡我們</li></a>
				</ul>
				<a href="javascript:;" style="position:absolute;right:0;top:13px;"><img src="images/index/likeFB.png" width="100px" /></a>
			</div>
		</div>
	</div>
</body>
</html>