<!DOCTYPE>
<html ng-app="Syntec">
<head>
	<meta charset="utf-8">
	<!-- import AngularJS -->
	<script type="text/javascript" src="js/angular.min.js"></script>

	<!-- use man-made layout javascript -->
	<script type="text/javascript" src="js/layout.js"></script>
	
	<!-- use man-made layout css -->
	<link rel="stylesheet" type="text/css" href="css/layout.css">
	<title>SyntecNewWeb</title>
</head>
<body>
	<div class="layout" ng-controller="SyntecLayout">
		<div class="header">
			<div class="limit">
				<div class="logo"></div>
				<div class="menu">
					<ul class="listOfMenu">
						<a ng-repeat="m in menu" ng-if="m.name != 'IMAGE'" href="javascript:;" ng-click="showMyDetail(m)" ng-blur='closeMyDetail()'>
							<li id="{{m.id}}">{{m.name}}</li>
						</a>
						<a ng-repeat="m in menu" ng-if="m.name == 'IMAGE'" href="javascript:;" ng-click="showMyDetail(m)" ng-blur='closeMyDetail()'>
							<li id="{{m.id}}"><img src="{{m.url}}" width="16px"></li>
						</a>
					</ul>
					<div class="butBar" ng-style="myBarSlide"></div>
				</div>
			</div>
		</div>
		<div class="content"></div>
		<div class="footer"></div>
	</div>
</body>
</html>