<!DOCTYPE>
<html ng-app="Syntec">
<head>
<link rel="SHORTCUT ICON" href="../images/IconBlue.ico">
	<meta charset="utf-8">
	<!-- import AngularJS -->
	<script type="text/javascript" src="../js/angular.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.js"></script>

	<!-- use man-made layout javascript -->
	<script type="text/javascript" src="../js/layout.js"></script>
	
	<!-- use man-made layout css -->
	<link rel="stylesheet" type="text/css" href="../css/layout.css">
	<title>SyntecNewWeb</title>
</head>
<body>
	<div class="layout" ng-controller="SyntecLayout">
		<div class="header">
			<div class="limit">
				<a href="../index.html"><div class="logo"></div></a>
				<div class="menu">
					<ul class="listOfMenu">
						<a ng-repeat="m in menu" ng-if="m.name != 'IMAGE'" href="javascript:;" ng-focus="showMyDetail(m)" ng-blur='closeMyDetail(m)'>
							<li id="{{m.id}}">{{m.name}}</li>
						</a>
						<a ng-repeat="m in menu" ng-if="m.name == 'IMAGE'" href="javascript:;" ng-focus="showMyDetail(m)" ng-blur='closeMyDetail(m)'>
							<li id="{{m.id}}" style="border-right: 1px solid #ffffff;"><img src="../{{m.url}}" width="20px"></li>
						</a>
					</ul>
					<div class="butBar" ng-style="myBarSlide"></div>
				</div>
				<div class="searchBar" ng-style="searchBarStyle">
					<input id="titleSearchBar" placeholder="search" ng-focus="searchBarStyle={'border-color':'#00a2e8'}" ng-blur="searchBarStyle={'border-color':'#ffffff'}">
					<a href="javascript:;"><span id="searchIcon"></span></a>
				</div>
				<div class="listOfDetailMenu" id="productList" ng-show="isShowProductList" ng-click="holdeProduct()">
					<div style="width:1024px;margin:auto;height:100%;">
						<div class="allMenu" ng-repeat="pMenu in productMenuTitles" id="{{pMenu.id}}">
							<ul class="totalMenu">
								<a href="{{pMenu.linkURL}}" target="_new"><li><h3>{{pMenu.title}}</h3></li></a>
								<a href="{{subpMenu.linkURL}}" target="_new" ng-repeat="subpMenu in productMenuSubNames" ng-if="subpMenu.pare_id == pMenu.id">
									<li>{{subpMenu.name}}</li>
								</a>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<!-- load specific css and js only for this page -->
			<script type="text/javascript" src="../js/topProduct/AN_eHMC.js"></script>
			<link rel="stylesheet" type="text/css" href="../css/topProductLayout.css">
			<div ng-controller="SyntectopProeHMC">
				<div class="myContent" style="background:url({{bannerURL}});background-size:100% auto;height:{{fitHeight}}px;" ng-init="initBanner()"></div>
				<div class="subMenu">
					<div style="width:1024px;margin:auto;height:100%;position:relative;">
						<p class="subTitle">產品介紹</p>
						<div class="butBar" id="subBar"></div>
					</div>
				</div>
				<div class="eachProduct" ng-repeat="p in products_21TAs" style="background:{{p.bgColor}}">
					<div style="width:1024px;margin:auto;height:100%;position:relative;">
						<div class="halfDiv textPos" style="left:0;" ng-if="((p.no)%2) == 1">
							<h1>{{p.title}}</h1>
							<h4 ng-bind-html="p.description"></h4>
						</div>
						<div class="halfDiv textPos" style="right:0;" ng-if="((p.no)%2) == 0">
							<h1>{{p.title}}</h1>
							<h4 ng-bind-html="p.description"></h4>
						</div>
						<div class="halfDiv">
							<img src="{{p.pictureURL}}" width="410px" style="right:0;" ng-if="((p.no)%2) == 1">
							<img src="{{p.pictureURL}}" width="410px" style="left:0;" ng-if="((p.no)%2) == 0">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="fContent">
				<span style="float:left;">台灣新代科技股份有限公司 / 苏州新代數控设备有限公司</span>
				<span>Copyright &copy; 1995-2015 SYNTEC TECHNOLOGY CO.LTD</span>
				<ul class="footerUl">
					<a href="javascript:;"><li>隱私政策</li></a>
					<a href="javascript:;"><li>使用條款</li></a>
					<a href="javascript:;"><li>聯絡我們</li></a>
				</ul>
				<a href="https://www.facebook.com/SynteCNC" target="_new" style="position:absolute;right:0;top:13px;"><img src="../images/index/likeFB.png" width="100px" /></a>
			</div>
		</div>
	</div>
</body>
</html>